.c-carousel {
  position: relative;
  overflow: hidden;

  &--indicators {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    pointer-events: none;
  }

  &--sliders {
    height: 100%;
  }

  &--slider-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &--indicator-item {
    pointer-events: all;
    height: 3px;
    border-radius: 4px;
    width: 24px;
    transition: width 0.2s var(--casual-ease-in-out-cubic);
    background-color: var(--casual-primary);
    transform-origin: center;
    opacity: 0.2;

    &:not(.c-carousel--indicator-item--active) {
      cursor: pointer;

      &:hover {
        opacity: 0.4;
      }
    }

    &--active {
      cursor: normal;
      width: 32px;
      opacity: 0.7;
    }
  }

  &--indicators-container {
    &.c-column,
    &.c-column-reverse {
      .c-carousel--indicator-item {
        height: 24px;
        width: 3px;

        &--active {
          height: 32px;
        }
      }
    }
  }

  &--control {
    position: absolute;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);

    .c-button {
      font-size: 20px;
    }

    &--prev {
      left: 1em;
    }

    &--next {
      right: 1em;
    }
  }
}
