.c-carousel {
  position: relative;
  overflow: hidden;

  &--indicators {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    pointer-events: none;
  }

  &--sliders {
  }

  &--slider-item {
    // TODO:
  }

  &--indicator-item {
    // TODO:
  }

  &--control {
    position: absolute;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);

    .c-button {
      font-size: 20px;
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}
