.c-carousel {
  position: relative;

  &--indicators {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }

  &--sliders {
    // TODO:
  }

  &--slider-item {
    // TODO:
  }

  &--indicator-item {
    // TODO:
  }
}
