.c-item {
  position: relative;

  &--clickable {
    font-weight: 400;
    cursor: pointer;
    transition:
      background var(--casual-ease-in-cubic) 0.2s,
      color var(--casual-ease-in-cubic) 0.2s;

    &:hover {
      background-color: var(--casual-input-bg-darker);
    }

    &:active {
      background-color: var(--casual-input-bg-darker2);
    }
  }

  &--active {
    color: var(--casual-primary);
    background-color: var(--casual-primary-pale);

    &:hover {
      background-color: var(--casual-primary-pale-darker);
    }
  }
}

.c-list {
  &--empty {
    text-align: center;
    color: var(--casual-copywriting-light);
    font-size: 12px;
  }

  &--with-divider {
    .c-item {
      position: relative;

      &:not(:last-child) {
        &::after {
          content: " ";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          background: var(--casual-input-prefix-suffix-divider);
        }
      }
    }
  }
}

.c-info-item {
  &--icon {
    font-size: 28px;
  }

  &--title {
    font-size: 1rem;
  }

  &--subtitle {
    font-size: 0.8rem;
    line-height: 1.5em;
    color: var(--casual-input-placeholder);
  }
}
