:root {
  --casual-svelte-doc-bg: #f9f9f9;
}
html.dark {
  --casual-svelte-doc-bg: #212121;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Inter var experimental",
    "Inter var",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--casual-svelte-doc-bg);
}
body,
header {
  transition: background var(--casual-ease-out-cubic) .2s;
}
.monaco-editor {
  padding: 12px 0;
}
@font-face {
  font-family: DM;
  src: url("/fonts/Dank Mono Regular.otf");
}

@font-face {
  font-family: DM;
  src: url("/fonts/Dank Mono Italic.otf");
  font-style: italic;
}
.shiki {
  padding: 12px;
  margin: 0;
  line-height: 1.2em;
  overflow: auto;
}
.shiki code {
  background-color: transparent;
}
code {
  font-family: DM;
  background-color: #eee;
  color: #3e2e8e;
}

html.dark .casual-ui-svelte--component-api code {
  background-color: #111;
  color: var(--casual-primary);
}
html.dark .casual-ui-svelte--component-api .shiki code {
  background-color: transparent;
  color: inherit;
}
.casual-ui-svelte--doc-item p {
  margin: 4px 0;
  line-height: 1.5em;
}

html.dark [text-primary] {
  color: var(--casual-primary);
}

html.dark [text-secondary] {
  color: var(--casual-secondary);
}

html.dark a {
  color: var(--casual-primary);
}

.casual-ui-svelte--doc-item ul {
  padding-left: 1em;
  line-height: 1.5em;
}

.casual-ui-svelte--component-api .casual-ui-svelte--doc-item ul {
  list-style: none;
}